<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detect_ip_styles.css') }}">
</head>
<body>
    <div class="video-background">
        <video id="bgVideo" muted loop autoplay>
            <source src="/static/bg.mp4" type="video/mp4">
        </video>                
    </div>
    <div class="container">
        <h1></h1>
        <button id="detectBtn">Detect My IP</button>
        <div id="detectResult"></div>
    </div>
    <div id="overlay">
        <div id="infoBox"></div>
    </div>
    <script src="{{ url_for('static', filename='js/detect_ip_script.js') }}"></script>
</body>
</html>
