<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/ionicons.min.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="bgVideo">
            <source src="{{ url_for('static', filename='toolsbg.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="overlay"></div>
    <div class="header">
        ByteShield Tools
    </div>
    <div class="content">
        <!-- Button to navigate to the IP detector page with Ionicon -->
        <a href="{{ url_for('ip_detector') }}" class="button">
            <ion-icon name="planet-outline"></ion-icon> IP Detector
        </a>
    </div>
</body>
</html>
